:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 150vh;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.container {
  --item-height: 40px;
  --item-width: 250px;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  width: 100%;
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.item {
  width: var(--item-width);
  height: var(--item-height);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: white;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  pointer-events: all;
  flex-shrink: 0;
}

.item[data-is-selected='true'] {
  pointer-events: none;
}

.list li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
}

body:not(.is-dragging) .item[data-is-selected='true'],
.item[data-is-hovered='true'] {
  color: black;
}

.selector {
  background: whitesmoke;
  width: var(--item-width);
  height: var(--item-height);
  position: absolute;
  z-index: 1;
  top: 0;
  border-radius: 8px;
  cursor: grab;
}

body.is-dragging,
body.is-dragging .selector,
body.is-dragging .item,
body.is-dragging .list li,
.selector:active {
  cursor: grabbing;
}

.add-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #5e6aca;
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.delete {
  height: 35px;
  width: 60px;
  border-radius: 5px;
  background: #a30b0b;
  border: none;
  font-weight: 600;
  cursor: pointer;
  pointer-events: all;
  user-select: none;
  -webkit-user-select: none;
}
